@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Designs */
body {
	background-color: #080710;
	/* Fonts */
	@apply text-white outline-none border-none;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.5px;
}
h3 {
	@apply text-3xl font-medium text-center capitalize;
}
form {
	@apply p-9;
}
label {
	@apply block text-sm font-medium capitalize;
}
input {
	@apply block w-full h-12 rounded-lg px-3 text-sm font-light;
	background-color: #ffffff12;
}
input::placeholder {
	@apply capitalize;
	color: #e5e5e5;
}
button {
	@apply w-full bg-white p-4 text-base font-semibold rounded-md cursor-pointer;
	color: #080710;
}
/* End Of General Designs */

/* Squares Section */
.square-container {
	width: 430px;
	height: 520px;
	z-index: 0;
	/* Center it */
	@apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
}
.square-container .square:nth-child(1) {
	width: 100px;
	height: 100px;
	top: -15px;
	right: -45px;
	background: linear-gradient(#1845ad50, #23a2f650);
	--i: 0;
}
.square-container .square:nth-child(2) {
	width: 150px;
	height: 150px;
	top: 155px;
	left: -115px;
	z-index: 1;
	background: linear-gradient(to right, #ff522f50, #f0961950);
	border-radius: 50%;
	--i: 1;
}
.square-container .square:nth-child(3) {
	width: 60px;
	height: 60px;
	bottom: 85px;
	right: -15px;
	border-radius: 50%;
	z-index: 1;
	background: linear-gradient(to left, #55ffff50, #3cb6b650);
	--i: 2;
}
.square-container .square:nth-child(4) {
	width: 50px;
	height: 50px;
	bottom: 35px;
	left: -55px;
	background: linear-gradient(to left, #9b986850, #6b694850);
	--i: 3;
}
.square-container .square:nth-child(5) {
	width: 50px;
	height: 50px;
	top: -15px;
	left: -20px;
	background: linear-gradient(to right, #4eff4150, #26682150);
	--i: 4;
}
.square-container .square:nth-child(6) {
	width: 85px;
	height: 85px;
	top: 165px;
	right: -155px;
	background: linear-gradient(to right, #aa55ff50, #773bb350);
	--i: 5;
}
.square {
	/* Style */
	@apply absolute bg-black bg-opacity-10 rounded-2xl;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.15);
	animation: square 10s linear infinite;
	animation-delay: calc(-1s * var(--i));
	/* Responsibility */
	@apply hidden;
	@apply md:block;
}
@keyframes square {
	0%,
	100% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(20px);
	}
}
/* Responsibility */
@media (max-width: 768px) {
	.square-container {
		width: 0;
		height: 0;
	}
}
/* End Of Square Section */

/* Glassmorphism Form */
.glassmorphism-form {
	@apply backdrop-blur-md rounded-xl;
	height: 420px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.13);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	z-index: 0;
	/* Style items inside */
	@apply flex flex-col justify-center;
	/* Center it */
	@apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
}
/* Responsibility */
@media (max-width: 475px) {
	.glassmorphism-form {
		width: 100%;
		height: 100%;
	}
}
/* End Of Glassmorphism Form */

/* Glassmorphism Inputs Form */
.input-container {
	@apply relative mt-7 space-y-3;
}
.password-view-control {
	@apply absolute inline-block cursor-pointer w-6 h-6;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
	transition: 500ms;
}
.password-input-container > .password-view-control {
	right: 15px;
	top: 45px;
}
.password-input-container > input {
	@apply pr-12;
}
.password-visible {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
/* End Of Glassmorphism Inputs Form */
