[Unit]
Description=an automation for openvpn accounting subject

[Service]
User=root
WorkingDirectory=
ExecStart=./api
Restart=always

[Install]
WantedBy=multi-user.target