[Unit]
Description=a service to serve backend for collaboration backend project.

[Service]
User=root
WorkingDirectory=
ExecStart=
Restart=always

[Install]
WantedBy=multi-user.target