@tailwind base;
@tailwind components;

/* General Designs */
body {
	background-color: #080710;
	/* Fonts */
	@apply text-white outline-none border-none;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.5px;
}
h3 {
	@apply text-3xl font-medium text-center capitalize;
}
form {
	@apply p-9;
}
label {
	@apply block text-sm font-medium capitalize;
}
input {
	@apply block w-full h-12 rounded-lg px-3 text-sm font-light;
	background-color: #ffffff12;
}
input::placeholder {
	@apply capitalize;
	color: #e5e5e5;
}
button {
	@apply w-full bg-white p-4 text-base font-semibold rounded-md cursor-pointer capitalize;
	color: #080710;
}
a {
	@apply capitalize;
}
/* End Of General Designs */
