/* Glassmorphism Inputs Form */
.input-container {
	@apply relative space-y-3;
}
.password-view-control {
	@apply absolute inline-block cursor-pointer w-6 h-6 p-0;
}
.eye {
	@apply w-full h-full;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.no-eye {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
.password-input-container > .password-view-control {
	right: 15px;
	top: 45px;
}
.password-input-container > input {
	@apply pr-12;
}
/* End Of Glassmorphism Inputs Form */
