.task-row {
	@apply bg-[#60a2d8] rounded-lg px-4 py-4 cursor-grab;

	@apply transition-all;

	/* Prevent Selecting Text */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.task-row:hover {
	@apply bg-[#6cb7f5];
}

.task-row:active {
	@apply scale-y-[.97] scale-x-[.99];

	/* Blur */
	@apply bg-opacity-80 backdrop-blur-[5px];
}

.task-title {
	@apply font-semibold mb-2;
}

.task-description {
	@apply overflow-hidden overflow-ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
